/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background: #fff;
    padding: 6px;
    border-radius: 6px;
    width: 300px;
}